
body{
    margin: 0;
}
.main{
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    padding-left: 22px;
}
.logo{
    color:white
}
.links,
a {
    list-style: none;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 22px;
    padding-top: 10px;
    font-weight: lighter;
}
a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
.active{
    color: black;
}
